.label{
    font-size: var(--size-small);
    font-weight: bold;
    color: var(--color-fourth);
    margin-left: 6px;
}

.label::selection{
    background-color: var(--color-first);
    color: var(--color-zero)
}